
[req]
default_bits       = 2048
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only
prompt = no

[ v3_req ]
subjectAltName = @alt_names
subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
nsComment            = "OpenSSL Generated Certificate"
extendedKeyUsage = clientAuth, serverAuth

[ alt_names ]
IP.1  = 172.22.1.13
DNS.1 = mongo_rs_1
IP.2  = 127.0.0.1
DNS.2 = localhost
